/*undoes styles on a list*/
ul{
	list-style-type: none;
}

/*specifiying the size of the container displaying a certain item*/
.item{
  width: 300px;
  height: 300px;
}

.white{
  color: white;
}
.white-center{
	  color: white;
		position: absolute;
 		top: 30%;
}

.form-group{
	padding-left: 40px;
}
