<!-- displays static information (contact) -->
<h2>Welcome to Computer Contact Center</h2>
<p>
	Phone: +2549847683037<br>
	Email: computer-market@yahoo.com<br>
	Fax: +254 980-986-2166<br>
	Location: Ngong lane Plaza
</p>
