<!-- landing page -->
<div class="container">
	<div class="">
		{{#link-to 'contact'}}Contact{{/link-to}}<!--link to contact-->
	</div>
<div class="items container-fluid">
	<!-- list of different items -->
	<ul>
{{#each model as |computer|}}
	{{computer-tile computer=computer}}
{{/each}}
</ul>
</div>

</div>
