<!-- landing page -->
<div class="container">
<div class="items container-fluid">
	<!-- list of different items -->
	<ul>
{{#each model as |computer|}}
	{{computer-tile computer=computer}}
{{/each}}
</ul>
</div>

</div>
