<div class="form-group">
		<form>
		<label for="title">Title</label>
		<input type="text" name="" id="title"> <br>
		<label for="Brand">Brand</label>
		<input type="text" name="" id="brand"> <br>
		<label for="Description">Description</label>
		<input type="text" name="" id="description"> <br>
		<label for="Cost">Cost</label>
		<input type="text" name="" id="cost"> <br>
		<label for="Image">Image</label>
		<input type="text" name="" id="image"> <br>
		<label for="Processor">Processor</label>
		<input type="text" name="" id="processor"> <br>
		<button type="submit" name="">Add New</button>
	</form>

</div>
