<!-- displays the list of computers -->

<div class="item">
	<li>
		<div class="">
			<img src={{computer.image}} alt="image" class="image">{{computer.description}} - KES {{computer.cost}}
		</div>
	</li><hr>

</div>
