<div class="container">
	<div class="">
		{{#link-to 'contact'}}Contact{{/link-to}}
	</div>
<div class="items">
{{#each model.computers as |computer|}}
	{{computer-tile model=computer}}
{{/each}}
</div>

</div>
