<ul class="nav navbar-nav">
	<li><a href="#">MacBook</a></li>
	<li><a href="#">HP</a></li>
	<li><a href="#">Dell</a></li>
	<li><a href="#">Lenovo</a></li>
	<li><a href="#">Asus</a></li>
	<li><a href="#">Acer</a></li>
	<li><a href="#">Toshiba</a></li>
</ul>
