	<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">{{#link-to 'index'}}Computer Market{{/link-to}}</a>
		    </div>
		    <ul class="nav navbar-nav">
					<li><a href="#"><strong>Home</strong></a></li>
		      <li><a href="#">MacBook</a></li>
		      <li><a href="#">HP</a></li>
		      <li><a href="#">Dell</a></li>
		      <li><a href="#">Lenovo</a></li>
					 <li><a href="#">Asus</a></li>
					  <li><a href="#">Acer</a></li>
						 <li><a href="#">Toshiba</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="#"><span style="color:white;">{{#link-to 'contact'}}Contact Us {{/link-to}}</span></a></li>
					<!-- Link to contact us page -->
		      <li>
		        <a href="#"> <span class="glyphicon">&#xe116;</span> Cart</a>
		      </li>
		    </ul>
		  </div>
		</nav>
		{{outlet}}
